@page "/recados"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject RecadosBlazor.Data.AppDbContext DB
@using RecadosBlazor.Models

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="recados/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DB.Recados">
    <PropertyColumn Property="recado => recado.Mensagem" />
    <PropertyColumn Property="recado => recado.Remetente" />
    <PropertyColumn Property="recado => recado.Destinatario" />

    <TemplateColumn Context="recado">
        <a href="@($"recados/edit?id={recado.Id}")">Edit</a> |
        <a href="@($"recados/details?id={recado.Id}")">Details</a> |
        <a href="@($"recados/delete?id={recado.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
